.container {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0 10px;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  flex: 1;
}
