<div class="container">

  <div class="left-list list">
    <ng-container *ngFor="let todo of todoList">
      <app-card
      *ngIf="!todo.isDone"
      [todo]="todo"
      (deleteCard)="onDelete($event)"
      (editCard)="onEdit($event)"
      (toggleIsDone)="onToggleIsDone($event)"
      (click)="redirectToDetail(todo.id)"
    ></app-card>
    </ng-container>
  </div>

  <div class="right-list list">
    <ng-container *ngFor="let todo of todoList">
      <app-card
      *ngIf="todo.isDone"
      [todo]="todo"
      (deleteCard)="onDelete($event)"
      (editCard)="onEdit($event)"
      (toggleIsDone)="onToggleIsDone($event)"
      (click)="redirectToDetail(todo.id)"
    ></app-card>
    </ng-container>
  </div>

</div>
