<mat-dialog-content>
  <h2>Добавить элемент</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Name">
      <mat-error *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">
        Поле обязательно для заполнения
      </mat-error>
      <mat-error *ngIf="form.get('name')?.hasError('minLength') && form.get('name')?.touched">
        Минимальная длина названия 3 символа
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="date" placeholder="Date (YYYY-MM-DD)">
      <mat-error *ngIf="form.get('date')?.hasError('pattern') && form.get('date')?.dirty">
        Дата не валидна
      </mat-error>
    </mat-form-field>
    <mat-dialog-actions>
      <button mat-button (click)="onClose()">Отмена</button>
      <button mat-button color="primary" type="submit">Сохранить</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
