:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
