<form class="auth-form" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
  <label for="email">Email</label>
  <input type="email" id="emil" ngModel name="email" required />

  <label for="password">Password</label>
  <input type="password" id="password" name="password" ngModel required />

  <button type="submit" [disabled]="authForm.invalid">{{ isLoginForm ? "Login" : "Sign Up" }}</button>
  <button type="button" (click)="toggleForm()">
    Change to {{ !isLoginForm ? "login" : "sign Up" }}
  </button>
</form>

<!-- <form class="auth-form" [(ngModel)]="authForm">
  <label for="email">Email</label>
  <input type="email" id="email" [(ngModel)]="authForm.email" name="email" required />

  <label for="password">Password</label>
  <input type="password" id="password" [(ngModel)]="authForm.password" name="password" required />

  <button type="submit">{{ isLoginForm ? "Login" : "Sign Up" }}</button>
  <button type="button" (click)="toggleForm()">
    Change to {{ isLoginForm ? "Sign Up" : "Login" }}
  </button>
</form> -->
