<form class="auth-form" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">


  <label for="name">Name</label>
  <input type="name" id="name" ngModel name="name" required />

  <ng-container *ngIf="!isLoginForm">
    <label for="email">Email</label>
    <input type="email" id="emil" ngModel name="email" required />
  </ng-container>

  <label for="password">Password</label>
  <input
    type="password"
    id="password"
    name="password"
    ngModel
    required
    minlength="6"
  />

  <button type="submit" [disabled]="authForm.invalid">
    {{ isLoginForm ? "Login" : "Sign Up" }}
  </button>
  <button type="button" (click)="toggleForm()">
    Change to {{ !isLoginForm ? "login" : "sign up" }}
  </button>
</form>
