<!-- <div class="wrapper">
  <p>{{todo.name}}</p>
  <p>{{todo.date}}</p>
  <p>{{todo.type}}</p>
</div> -->

<ng-container *ngIf="todo">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ todo.name }}</mat-card-title>
      <mat-card-subtitle>{{ todo.date }}</mat-card-subtitle>
    </mat-card-header>
    <mat-checkbox
      (change)="onToggleIsDone()"
      [(ngModel)]="todo.isDone"
      class="example-margin"
      >Done</mat-checkbox
    >

    <mat-card-actions>
      <button mat-button (click)="onEdit()">Edit</button>
      <button mat-button (click)="onDelete()">Delete</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
